<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="aigüe" color="indigo"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>
        <b>Résultat sérologique compatible avec une hépatite&nbsp;B aiguë.</b>
        <br /><br >
        <span>Chez&nbsp;>&nbsp;90% des patients adultes&nbsp;: évolution vers la guérison.</span>
        <br /><br />
        <b>Risques :</b>
        <ol>
          <li class="app-mb-sm">hépatite&nbsp;B chronique (persistance Ag&nbsp;HbS + à 6&nbsp;mois)</li>
          <li>hépatite&nbsp;B aiguë sévère ou fulminante&nbsp;:</li>
        </ol>
        <br/>
        <b>Compléter rapidement le bilan sanguin&nbsp;:</b>
        <ul>
          <li class="app-mb-sm">NFS, plaquettes</li>
          <li class="app-mb-sm">ionogramme, créatininémie</li>
          <li class="app-mb-sm">TP, INR</li>
          <li class="app-mb-sm">bilan hépatique complet&nbsp;: ASAT/ALAT, PAL/GGT, bilirubine totale et conjuguée</li>
          <li class="app-mb-sm">albuminémie</li>
          <li class="app-mb-sm">protéinurie sur échantillon</li>
          <li class="app-mb-sm">sérologies VIH,VHC, VHD, VHA</li>
          <li class="app-mb-sm">dosage quantitatif Ag&nbsp;HbS, charge virale VHB quantitative, Ag&nbsp;HBE et anticorps anti&nbsp;HBE</li>
          <li class="app-mb-sm">examens para cliniques : échographie hépatique</li>
          <li>dépistage de l'entourage ++++ et vaccination</li>
        </ul>
        <div>
          Si cytolyse, hyperbilirubinémie ou TP abaissé&nbsp;: <b>surveillance biologique rapprochée du patient</b> 
        </div>
        <br/>
        <div>
          Si diminution du TP&nbsp;<&nbsp;50% ou signe d'encéphalopathie hépatique&nbsp;: <b>hépatite aiguë sévère</b> ; à adresser à un centre de
          transplantation hépatique et début d'un traitement par analogues dès que possible.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
