<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="aigüe" color="indigo"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>
        <b>Résultat sérologique compatible avec une hépatite&nbsp;B aiguë.</b>
        <br /><br >
        <span>Chez&nbsp;>&nbsp;80-90% des patients adultes&nbsp; immunocompétents&nbsp;; évolution vers la guérison fonctionnelle.</span>
        <br /><br />
        <b>Risques :</b>
        <ul>
          <li class="app-mb-sm">hépatite&nbsp;B chronique (persistance Ag&nbsp;HBs + à 6&nbsp;mois)&nbsp;: 10-20%</li>
          <li>hépatite&nbsp;B aiguë sévère ou fulminante&nbsp;: 1%</li>
        </ul>
        <br/>
        <b>Compléter rapidement le bilan sanguin&nbsp;:</b>
        <ul>
          <li class="app-mb-sm">NFS, plaquettes</li>
          <li class="app-mb-sm">ionogramme, créatininémie</li>
          <li class="app-mb-sm">TP, INR, facteur V</li>
          <li class="app-mb-sm">bilan hépatique complet&nbsp;: ASAT/ALAT, PAL/GGT, bilirubine totale et conjuguée</li>
          <li class="app-mb-sm">albuminémie</li>
          <li class="app-mb-sm">sérologies VIH, VHC, VHD, VHA</li>
          <li class="app-mb-sm">charge virale VHB quantitative, Ag&nbsp;HBe et anticorps anti&nbsp;HBe</li>
          <li class="app-mb-sm">examens paracliniques : échographie doppler hépatique</li>
          <li>dépistage de l'entourage ++++ et vaccination</li>
        </ul>
        <div>
          Si cytolyse, hyperbilirubinémie ou 50%&nbsp;&lt;&nbsp;TP&nbsp;&lt;&nbsp;100%&nbsp;: <b>surveillance biologique rapprochée du patient</b> 
        </div>
        <ul>
          <li class="app-mb-sm">Si diminution du TP&nbsp;&lt;&nbsp;50%&nbsp;: <b>hépatite aiguë sévère</b></li>
          <li class="app-mb-sm">Si diminution du TP&nbsp;&lt;&nbsp;50% et encéphalopathie&nbsp;: <b>hépatite aiguë fulminante</b></li>
        </ul>
        => Dans ces deux cas, hospitalisation et contact au plus vite d'un centre de transplantation hépatique.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
