<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-buttons class="back-button">
          <ion-back-button icon="arrow-back-outline" color="dark" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-row class="ion-justify-content-center">
          <div class="header-title ion-align-items-start">
            <ion-title class="ion-no-padding ion-no-margin header-title-text" color="dark">{{ 'Hépatite B' | uppercase }}</ion-title>
            <ion-title class="ion-no-padding ion-no-margin header-title-text" color="indigo">{{ 'aigüe' | uppercase }}</ion-title>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>
        <b>Résultat sérologique compatible avec une hépatite B aiguë.</b>
        <br /><br >
        <span>Chez > 90 % des patients adultes : évolution vers la guérison.</span>
        <br /><br /><br />
        <b>Risques :</b>
        <ol>
          <li>hépatite B chronique (persistance Ag HbS + à 6mois)</li>
          <br />
          <li>
            <span>
              hépatite B aiguë sévère ou fulminante :
              <br />
              Compléter rapidement le bilan sanguin :
            </span>
            <ul>
              <li>NFS, plaquettes</li>
              <li>ionogramme, créatininémie</li>
              <li>TP, INR</li>
              <li>bilan hépatique complet : ASAT/ALAT, PAL/GGT, bilirubine totale et conjuguée</li>
              <li>albuminémie</li>
              <li>protéinurie sur échantillon</li>
              <li>sérologies VIH,VHC, VHD, VHA</li>
              <li>dosage quantitatif Ag HbS, charge virale VHB quantitative, Ag HBE et anticorps anti HBE</li>
              <li>examens para cliniques : échographie hépatique</li>
              <li>dépistage de l'entourage ++++ et vaccination</li>
            </ul>
          </li>
        </ol>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
