<ion-header class="ion-no-border">
  <app-header darkTitle="Interprétation" coloredTitle="sérologique" color="cyan"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="5" offset-md="3.5">
        <ion-card [disabled]="displayResult" class="ion-no-margin">
          <ion-list>
            <ion-item button (click)="agHbs=!agHbs">
              <ion-label>Ag HBs</ion-label>
              <ion-row slot="end" class="ion-align-items-center">
                <ion-label>-</ion-label>
                <ion-toggle [checked]="agHbs" color="cyan" class="ion-padding-end"></ion-toggle>
                <ion-label>+</ion-label>
              </ion-row>
            </ion-item>
            <ion-item button (click)="acAntiHbs=!acAntiHbs">
              <ion-label>Ac anti-HBs</ion-label>
              <ion-row slot="end" class="ion-align-items-center">
                <ion-label>-</ion-label>
                <ion-toggle [checked]="acAntiHbs" color="cyan" class="ion-padding-end"></ion-toggle>
                <ion-label>+</ion-label>
              </ion-row>
            </ion-item>
            <ion-item button (click)="acAntiHbc=!acAntiHbc">
              <ion-label>Ac anti-HBc</ion-label>
              <ion-row slot="end" class="ion-align-items-center">
                <ion-label>-</ion-label>
                <ion-toggle [checked]="acAntiHbc" color="cyan" class="ion-padding-end"></ion-toggle>
                <ion-label>+</ion-label>
              </ion-row>
            </ion-item>
          </ion-list>
          <ion-row class="ion-justify-content-center">
            <ion-buttons>
              <ion-button (click)="displayResult = true" color="cyan" shape="round" fill="solid" class="enter-button">Afficher</ion-button>
            </ion-buttons>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="displayResult">
      <ion-item-divider></ion-item-divider>
      <ion-row class="ion-justify-content-end ion-margin-end" >
        <ion-buttons class="ion-margin-top ion-margin-bottom">
          <ion-button (click)="resetToggles()" color="cyan" shape="round" fill="outline" class="reset-button">
            <ion-icon slot="start" src="/assets/svg/refresh-outline.svg"></ion-icon>
            Réinitialiser
          </ion-button>
        </ion-buttons>
      </ion-row>

      <ion-row class="result">
        <ion-col>

          <div *ngIf="agHbs && acAntiHbs">
            <b>Erreur ou séroconversion HBs en cours.</b>
            <br/><br/>
            À recontrôler dans un autre laboratoire avec charge virale.
          </div>

          <div *ngIf="agHbs && !acAntiHbs && acAntiHbc">
            Il faut doser les IgM anti&nbsp;HBc&nbsp;:
            <ul>
              <li class="app-mb-sm">
                IgM anti&nbsp;HBc positif&nbsp;: probable hépatite&nbsp;B aigue (<a class="link-button color-indigo" (click)="goToAcuteHepatitisB()">cf chapitre hépatite B aigüe</a>) mais réactivation virale&nbsp;B possible pouvant nécessiter l'introduction rapide d'un traitement antiviral (profil à discuter avec un virologue).
              </li>
              <br>
              <li>
                IgM anti HBc négatif : Très probable portage chronique de l'antigène HBs, confirmé si Ag&nbsp;HBs toujours positif au-delà de 6&nbsp;mois (<a class="link-button color-violet" (click)="goToHome()">cf chapitre hépatite B chronique</a>).
              </li>
            </ul>
          </div>

          <div *ngIf="agHbs && !acAntiHbs && !acAntiHbc">
            <b>Cas rare&nbsp;: probable début d'hépatite&nbsp;B aiguë.</b> Recontrôler la sérologie +&nbsp;Ac&nbsp;HBc type&nbsp;IgM +&nbsp;bilan hépatique
            <br/><br/>
            Ne pas méconnaître :
            <ul>
              <li class="app-mb-sm">Vaccination récente (détection Ag vaccinaux)</li>
              <li class="app-mb-sm">Faux positif (exceptionnel)</li>
            </ul>
          </div>

          <div *ngIf="!agHbs && acAntiHbs && acAntiHbc">
            <b>Hépatite résolue.</b>
            <br/><br/>
            Pas de surveillance ou de traitement mais attention aux situations à risque de réactivation possible <a class="link-button color-nepal" (click)="goToVhbResolved()">(cf chapitre hépatite B résolue)</a>.
          </div>


          <div *ngIf="!agHbs && acAntiHbs && !acAntiHbc">
            <b>Personne vaccinée.</b>
            <br/><br/>
            Si taux &lt;&nbsp;10UI/L sur une personne à risque, proposer un nouveau rappel.
            <br/><br/>
            Personnes à risque&nbsp;:
            <ul>
              <li class="app-mb-sm">
                personnes qui, dans le cadre d'activités professionnelles ou bénévoles, sont susceptibles d'être en contact direct avec des 
                patients et/ou d'être exposées au sang et autres produits biologiques.
              </li>
              <li class="app-mb-sm">
                personnes susceptibles de recevoir des transfusions massives et/ou itératives ou des médicaments dérivés du sang (hémophiles,
                dialysés, insuffisants rénaux...)
              </li>
              <li class="app-mb-sm">personnes candidates à une greffe d'organe, de tissu ou de cellules</li>
              <li class="app-mb-sm">partenaires sexuels d'une personne infectée par le virus de l'hépatite&nbsp;B</li>
              <li>personnes immunodéprimées</li>
            </ul>
            <br/><br/>
            <b>Pour le personnel soignant</b>, suivre l'algorithme&nbsp;: 
            <app-image src="/assets/img/algo-control-immunization.png"></app-image>
            <i>Avis du Haut Conseil de la santé publique du 7&nbsp;novembre 2014, mis en ligne le 19&nbsp;janvier 2015.</i>
          </div>

          <div *ngIf="!agHbs && !acAntiHbs && acAntiHbc">
            <b>Antécédent de contact avec le VHB.</b> Probable hépatite résolue.
            <br/><br/>
            Faire contrôle de la sérologie dans 2ème laboratoire et réaliser un dosage de l'ADN VHB pour éliminer hépatite&nbsp;B occulte.
            <br/>
            Si situation d'hépatite résolue confirmée, pas de surveillance ou traitement mais attention aux situations à risque de réactivation possible <a class="link-button color-nepal" (click)="goToVhbResolved()">(cf chapitre hépatite B résolue)</a>.
          </div>

          <div *ngIf="!agHbs && !acAntiHbs && !acAntiHbc">
            <b>Pas de contact avec le virus, non vacciné (ou insuffisamment vacciné). Personne à vacciner&nbsp;!</b>
            <br/><br/><br/>
            <b>Schémas vaccinaux&nbsp;:</b>
            <ul>
              <li>
                en population générale&nbsp;:
                <ul>
                  <li class="app-mb-sm">chez le nourrisson ; vaccin hexavalent, 3&nbsp;injections (M2 de vie, M4, M11)</li>
                  <li class="app-mb-sm">
                    pour les adolescents âgés de 11 à 15&nbsp;ans révolus &nbsp;:
                    <ul>
                      <li>schéma classique&nbsp;; HBVAXPRO&nbsp;5µg® ou ENGERIX&nbsp;B&nbsp;10µg® en 3&nbsp;injections (M0, M1, M6)</li>
                      <li>schéma à deux doses, en l'absence de risque élevé d'infection entre les 2&nbsp;doses&nbsp;; ENGERIX&nbsp;B&nbsp;20µg® en 2&nbsp;injections (M0, M6)
                      </li>
                    </ul>
                  </li>
                  <li>
                    pour les adultes&nbsp;:
                    <ul>
                      <li>schéma classique&nbsp;; HBVAXPRO&nbsp;10µg® ou ENGERIX&nbsp;B&nbsp;20µg® en 3&nbsp;injections (M0, M1, M6)</li>
                      <li>schéma accéléré si protection rapide souhaitable&nbsp;;  ENGERIX&nbsp;B&nbsp;20µg® en 3&nbsp;injections en 21&nbsp;jours (J0, J7, J21) + rappel à 12&nbsp;mois
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <br/>
              <li>
                pour les nouveau-nés de mère antigène HBs&nbsp;+&nbsp;; HBVAXPRO&nbsp;5µg® ou ENGERIX&nbsp;B&nbsp;10µg® en 3&nbsp;injections (naissance, M1, M6) + IG&nbsp;anti-HBs à la naissance (site différent de celui du vaccin)
              </li>
              <br/>
              <li>
                prématurés &lt;32&nbsp;semaines et/ou poids de naissance &lt;2kg&nbsp;; schéma en 4&nbsp;injections (naissance, M1, M2, M6) + IG&nbsp;anti-HBs à la naissance (site différent de celui du vaccin) + contrôle sérologique recommandé à partir de 9&nbsp;mois de vie (Ag&nbsp;HBs + Ac&nbsp;anti-HBs)
              </li>
              <br/>
              <li>
                pour les insuffisants rénaux chroniques dialysés, les cirrhotiques et les immunodéprimés&nbsp;; 2&nbsp;doses d'ENGERIX&nbsp;B&nbsp;20µg® en 4&nbsp;injections (M0, M1, M2 et M6) soit 8 doses.
              </li>
              <br/>
            </ul>
            <br/><br/>
            Plus d'informations dans le tableau ci-dessous, ou sur :
            <a href="https://vaccination-info-service.fr/Les-maladies-et-leurs-vaccins/Hepatite-B" target="_blank">
              https://vaccination-info-service.fr/Les-maladies-et-leurs-vaccins/Hepatite-B
            </a>
            <app-image src="/assets/img/list-vaccines.png"></app-image>
          </div>
  
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>




  

</ion-content>
