@media (max-width: 576px) {
    .image-algo {
        margin: 2.5vw;
    }
}

@media (min-width: 576px) {
    ion-header {
        padding: 2vh 0 2vh 0;
    }

    .image-algo {
        margin: 2vh 20vw 2vh 20vw;
    }

    .result {
        margin-left: 20px;
    }
}

.enter-button {
    text-transform: none;
    width: 130px;
    height: 45px;
    margin: 20px 0 30px 0
}

.reset-button {
    text-transform: none;
}

.link-button {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.color-violet {
    color: var(--ion-color-violet);
}

.color-nepal {
    color: var(--ion-color-nepal);
}

.color-indigo {
    color: var(--ion-color-indigo);
}

.underline {
    text-decoration: underline;
}

a {
    color: var(--ion-color-cyan);
}

ion-card { 
  border-radius: 20px;
}
 