<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="chronique" color="violet" subTitle="Prise en charge"
    defaultBackRoute="/medical-management-list" />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="5" offset-md="3.5">
        <ion-card class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">Ag HBe</ion-label>
          </div>
          <radio-area (change)="setAgHbe($event)" [options]="agHbeOptions" [selectedValue]="agHbe"></radio-area>
        </ion-card>
        <ion-card *ngIf="agHbe" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">ADN VHB</ion-label>
          </div>
          <radio-area (change)="setAdnVhb($event)" [options]="adnVhbOptions" [selectedValue]="adnVhb"></radio-area>
        </ion-card>
        <ion-card *ngIf="adnVhb" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">ALAT</ion-label>
          </div>
          <radio-area (change)="setAlat($event)" [options]="alatOptions" [selectedValue]="alat"></radio-area>
        </ion-card>
        <ion-card *ngIf="alat" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">fibroscan</ion-label>
          </div>
          <radio-area (change)="setFibroscan($event)" [options]="fibroscanOptions" [selectedValue]="fibroscan"></radio-area>
        </ion-card>
        <ng-container *ngIf="fibroseCompleted">
          <ion-card class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
            <div class="card-header">
              <ion-label class="card-title">Age</ion-label>
            </div>
            <radio-area (change)="setAge($event)" [options]="ageOptions" [selectedValue]="age"></radio-area>
          </ion-card>
          <ion-card *ngIf="(age && !pageBCompleted) || !!sexe" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
            <div class="card-header">
              <ion-label class="card-title">Sexe</ion-label>
            </div>
            <radio-area (change)="setSexe($event)" [options]="sexeOptions" [selectedValue]="sexe"></radio-area>
          </ion-card>
          <ion-card *ngIf="(sexe && !pageBCompleted) || !!platelets" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
            <div class="card-header">
              <ion-label class="card-title">Plaquettes</ion-label>
            </div>
            <radio-area (change)="setPlatelets($event)" [options]="plateletsOptions" [selectedValue]="platelets"></radio-area>
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ng-container *ngIf="displayResult">
    
    <ion-item-divider></ion-item-divider>
    <ion-row class="ion-justify-content-end ion-margin-end" >
      <ion-buttons class="ion-margin-top ion-margin-bottom">
        <ion-button (click)="reset()" color="violet" shape="round" fill="outline" class="reset-button">
          <ion-icon slot="start" src="/assets/svg/refresh-outline.svg"></ion-icon>
          Réinitialiser
        </ion-button>
      </ion-buttons>
    </ion-row>
    
    <ion-row class="result-container">
      <ion-col>

        <div *ngIf="!!fibroscanResult" class="app-mb-lg">
          <span class="res-sub-title">Interprétation du fibroscan&nbsp;:  </span>
          <span *ngIf="fibroscanResult === 'yes'"><b>Patient atteint de fibrose</b></span>
          <span *ngIf="fibroscanResult === 'no'"><b>Pas de fibrose significative</b></span>
          <span *ngIf="fibroscanResult === 'grey-zone'"><b>Zone grise</b></span>
          <span *ngIf="fibroscanResult === 'uninterpretable-fibroscan'"><b>Valeur non-interprétable</b></span>

            <div class="app-mt-xs" *ngIf="
              (fibroscanResult === 'grey-zone' || fibroscanResult === 'uninterpretable-fibroscan') &&
              (treatment === 'yes' || treatment === 'no')
              "><i>La présence ou non d'une fibrose significative ne modifie pas la prise en charge.</i></div>
        </div>
        
        <div class="app-mb-lg">
          <div class="app-mb-xs">
            <span class="res-sub-title">Traitement :  </span>
            <span *ngIf="treatment === 'yes'"><b>Patient à traiter.</b></span>
            <span *ngIf="treatment === 'no'"><b>Pas d'indication de traitement.</b></span>
            <span *ngIf="treatment === 'no-provided-that'"><b>Pas d'indication de traitement</b>, sous reserve que la valeur du fibroscan est ininterprétable.</span>
            <span *ngIf="treatment === 'no-discuss'"><b>Pas d'indication de traitement</b>, mais à discuter : surtout <b>si le dépistage du CHC est indiqué</b>, pour limiter le risque de survenu de CHC.</span>
            <span *ngIf="treatment === 'lack-conclusion-discuss-pbh'"><b>Une biopsie hépatique doit être discutée</b> selon la balance bénéfice-risque.</span>
            <span *ngIf="treatment === 'lack-conclusion-discuss-pbh-insist'"><b>Une biopsie hépatique doit être discutée</b> selon la balance bénéfice-risque, <b>surtout si le dépistage du CHC est indiqué</b>, pour limiter le risque de survenu de CHC.</span>
          </div>

          <div *ngIf="!!treatment && treatment !== 'no' && treatment !== 'no-provided-that'">
            <div *ngIf="treatment === 'lack-conclusion-discuss-pbh' || treatment === 'lack-conclusion-discuss-pbh-insist'">
              <i>La présence d'une fibrose significative est une indication à un traitement.</i>
            </div>

            <ion-buttons class="button-treatment-container">
              <ion-button id="open-modal-treatment" color="violet" shape="round" fill="solid" class="button-treatment">Voir infos traitement</ion-button>
            </ion-buttons>
            <app-modal-treatment title="Traitements autre situtation"></app-modal-treatment>
          </div>

          <div *ngIf="treatment === 'no' || treatment === 'no-discuss'">
            <div class="res-sub-title app-mt-lg">Rythme de surveillance&nbsp;:</div>
            <div *ngIf="agHbe === 'neg' && adnVhb === 'lt2000'">
              <ul class="app-mt-sm">
                <li>ALAT et ADN VHB tous les 6 à 12 mois</li>
                <li>réévaluation de la fibrose tous les 3 ans</li>
              </ul>
            </div>
            <div *ngIf="agHbe === 'neg' && adnVhb !== 'lt2000'">
              <ul>
                <li>ALAT tous les 3 mois pendant un an, puis tous les 6 mois</li>
                <li>ADN VHB tous les 6 mois</li>
                <li>réévaluation de la fibrose tous les 3 ans</li>
              </ul>
            </div>
            <div *ngIf="agHbe === 'pos'">
              <ul>
                <li>ALAT tous les 3 mois</li>
                <li>ADN VHB et Ag HBe tous les 6 à 12 mois</li>
                <li>réévaluation de la fibrose tous les 12 mois</li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="!!reviewCytolyse">
          <div class="app-mb-xs">
            <span class="res-sub-title">Autres : </span>
            <b>Indication à réaliser un bilan de cytolyse </b>avec sérologie VHD.
          </div>
          <i *ngIf="reviewCytolyse === 'should-not'">L'hépatite B chronique n'est probablement pas la cause de la cytolyse.</i>
          <i *ngIf="reviewCytolyse === 'maybe'">L'hépatite B chronique peut être la cause de la cytolyse.</i>
      </div>

        <br />
        <div *ngIf="!!resultPageB">
          <div class="app-mb-xs">
            <span class="res-sub-title">Score PAGE&nbsp;B&nbsp;:  </span>
            <b>⩾10</b>
          </div>
          Indication à réaliser une <b> échographie abdominale </b> et <b>dosage de l'Alpha-foetoprotéine </b> tous les 6&nbsp;mois.
        </div>
        
        <div *ngIf="!resultPageB">
          <div class="app-mb-xs">
            <span class="res-sub-title">Score PAGE&nbsp;B&nbsp;:  </span>
            <b>&lt;10</b>
          </div>
          Pas d'intérêt au dépistage du CHC (hors antécédent familial au premier degré de CHC) car risque de CHC proche de 0 à 5 ans.
        </div>

      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
