<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="chronique" color="violet" subTitle="Prise en charge"
    defaultBackRoute="/medical-management-list" />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="5" offset-md="3.5">
        <ion-card class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">Ag HBe</ion-label>
          </div>
          <radio-area (change)="setAgHbe($event)" [options]="agHbeOptions" [selectedValue]="agHbe"></radio-area>
        </ion-card>
        <ion-card *ngIf="agHbe" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">ADN VHB</ion-label>
          </div>
          <radio-area (change)="setAdnVhb($event)" [options]="adnVhbOptions" [selectedValue]="adnVhb"></radio-area>
        </ion-card>
        <ion-card *ngIf="adnVhb" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">ALAT</ion-label>
          </div>
          <radio-area (change)="setAlat($event)" [options]="alatOptions" [selectedValue]="alat"></radio-area>
        </ion-card>
        <ion-card *ngIf="alat" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
          <div class="card-header">
            <ion-label class="card-title">fibrose</ion-label>
          </div>
          <div class="sub-card">
            <div class="card-sub-title">biopsie</div>
            <radio-area (change)="setBiopsie($event)" [options]="biopsieOptions" [selectedValue]="biopsie"></radio-area>
          </div>
          <div *ngIf="noBiopsie" class="sub-card margin-top">
            <div class="card-sub-title">fibroscan</div>
            <radio-area (change)="setFibroscan($event)" [options]="fibroscanOptions" [selectedValue]="fibroscan"></radio-area>
          </div>
          <div *ngIf="noBiopsie && showAlatMoreSpecific" class="sub-card margin-top">
            <div class="card-sub-title">Précision sur le taux ALAT</div>
            <radio-area (change)="setAlatMoreSpecific($event)" [options]="alatMoreSpecificOptions" [selectedValue]="alatMoreSpecific"></radio-area>
          </div>
        </ion-card>
        <ng-container *ngIf="fibroseCompleted">
          <ion-card class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
            <div class="card-header">
              <ion-label class="card-title">Age</ion-label>
            </div>
            <radio-area (change)="setAge($event)" [options]="ageOptions" [selectedValue]="age"></radio-area>
          </ion-card>
          <ion-card *ngIf="(age && !pageBCompleted) || !!sexe" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
            <div class="card-header">
              <ion-label class="card-title">Sexe</ion-label>
            </div>
            <radio-area (change)="setSexe($event)" [options]="sexeOptions" [selectedValue]="sexe"></radio-area>
          </ion-card>
          <ion-card *ngIf="(sexe && !pageBCompleted) || !!platelets" class="ion-no-padding ion-no-margin ion-margin-bottom" [disabled]="displayResult">
            <div class="card-header">
              <ion-label class="card-title">Plaquettes</ion-label>
            </div>
            <radio-area (change)="setPlatelets($event)" [options]="plateletsOptions" [selectedValue]="platelets"></radio-area>
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ng-container *ngIf="displayResult">
    
    <ion-item-divider></ion-item-divider>
    <ion-row class="ion-justify-content-end ion-margin-end" >
      <ion-buttons class="ion-margin-top ion-margin-bottom">
        <ion-button (click)="reset()" color="violet" shape="round" fill="outline" class="reset-button">
          <ion-icon slot="start" src="/assets/svg/refresh-outline.svg"></ion-icon>
          Réinitialiser
        </ion-button>
      </ion-buttons>
    </ion-row>
    
    <ion-row class="result-container">
      <ion-col>

        <div *ngIf="!!fibroscanResult" class="fibroscan-result">
          Interprétation du fibroscan&nbsp;: 
            <span *ngIf="fibroscanResult === 'yes'">Patient atteint de fibrose</span>
            <span *ngIf="fibroscanResult === 'no'">Pas de fibrose</span>
            <span *ngIf="fibroscanResult === 'uninterpretable-fibroscan-btw6-9'">Valeur en zone grise, on ne peut conclure au degré de fibrose</span>
            <span *ngIf="fibroscanResult === 'uninterpretable-alat-gt5n'">La valeur du fibroscan n'est pas interprétable en cas de cytolyse importante</span>
        </div>
        
        <div *ngIf="treatment === 'yes'">
          <h5>Patient à traiter.</h5>
          <ion-buttons class="button-treatment-container">
            <ion-button id="open-modal-treatment" color="violet" shape="round" fill="solid" class="button-treatment">Voir infos traitement</ion-button>
          </ion-buttons>
          <app-modal-treatment title="Traitements autre situtation"></app-modal-treatment>
        </div>

        <div *ngIf="treatment === 'optionnal'">
          <h5>Les recommandations conseillent de proposer un traitement au patient.</h5>
          <ion-buttons class="button-treatment-container">
            <ion-button id="open-modal-treatment" color="violet" shape="round" fill="solid" class="button-treatment">Voir infos traitement</ion-button>
          </ion-buttons>
          <app-modal-treatment></app-modal-treatment>
        </div>
        
        <div *ngIf="treatment === 'no'">
          <h5 class="app-mb-sm">Pas d'indication de traitement</h5>
          <span>Rythme de surveillance&nbsp;:</span>
          <div *ngIf="agHbe === 'pos'">
            <ul class="app-mt-sm">
              <li>ALAT tous les 3&nbsp;mois et ADN tous les 6-12&nbsp;mois</li>
              <li>Évaluation non invasive de la fibrose tous les ans</li>
            </ul>
          </div>
          <div *ngIf="agHbe === 'neg' && adnVhb === 'lt2000'">
            <ul>
              <li>ALAT et ADN tous les 6-12&nbsp;mois</li>
              <li>Évaluation de la fibrose par méthode non invasive tous les 3&nbsp;ans</li>
            </ul>
          </div>
          <div *ngIf="agHbe === 'neg' && adnVhb !== 'lt2000'">
            <ul>
              <li>ALAT tous les 3&nbsp;mois pendant 1&nbsp;an puis tous les 6&nbsp;mois, ADN tous les 6&nbsp;mois.</li>
              <li>Évaluation de la fibrose par méthode non invasive tous les 3&nbsp;ans</li>
            </ul>
          </div>
        </div>

        <div *ngIf="treatment === 'not-defined'">
          <h5>La présence de fibrose peut changer l'indication de traitement, une biopsie hépatique doit être discutée</h5>
        </div>


        <br /><br />
      
        <div *ngIf="!!resultPageB">
          <b class="app-mb-sm">Score PAGE&nbsp;B&nbsp;: ⩾10</b><br />
          <span>Indication à réaliser une échographie abdominale et dosage de l'Alpha-foetoprotéine tous les 6&nbsp;mois.</span>
        </div>
        
        <div *ngIf="!resultPageB">
          <b class="app-mb-sm">Score PAGE B&nbsp;: &lt;10</b><br />
          <span>Pas d'indication particulière.</span>
        </div>

      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
