ion-card {
  border-radius: 20px;
  border: 1.5px solid;
  border-color: var(--ion-color-violet);
  padding: 10px 0 15px 0;
}

.card-header {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.card-title {
  font-size: 20px;
  color: var(--ion-color-violet);
  border-bottom: 1px solid;
  border-color: var(--ion-color-violet);
}

.card-sub-title {
  font-size: 18px;
  color: var(--ion-color-violet);
  margin: 0px 0px 6px 12px;
}
  
.sub-card {
  padding: 10px 10px 8px 10px;
  margin: 10px 10px 5px 10px;
  border-radius: 10px;
  background-color: #68295D21;
}

.margin-top {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .result-container {
    margin: 10px 30px 30px 30px;
  }
}

@media (max-width: 576px) {
  .button-treatment-container {
    justify-content: center;
  }
}

.button-treatment {
  margin-top: 10px;
  text-transform: none;
  height: 45px;
  width: 250px;
}

.fibroscan-result {
  font-style: italic;
}

h5 {
  margin-top: 5px;
  font-weight: bold;
}