.header-title {
    padding: 0 30px 4px 0;
    margin-bottom: 7px;
    border-bottom: 1.5px solid;
    border-color: var(--ion-color-dark);
}

.header-title-text {
    font-family: 'Inter-SemiBold';
    font-size: large;
}

.header-subtitle-text {
    font-size: 17px;
}