<ion-grid>
  <ion-row>
    <ion-col size="2">
      <ion-buttons *ngIf="!disableNav" class="back-button">
        <ion-back-button icon="arrow-back-outline" color="dark" [defaultHref]="defaultBackRoute"></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="8">
      <ion-row class="ion-justify-content-center">
        <div>
          <div class="header-title">
            <ion-title class="ion-no-padding ion-no-margin header-title-text" color="dark">{{ darkTitle | uppercase }}</ion-title>
            <ion-title class="ion-no-padding ion-no-margin header-title-text" [color]="color">{{ coloredTitle | uppercase }}</ion-title>
          </div>
          <ion-text *ngIf="subTitle" class="ion-no-padding ion-no-margin header-subtitle-text">· {{ subTitle }}</ion-text>
        </div>
      </ion-row>
    </ion-col>
    <ion-col size="2">
      <ion-buttons class="ion-justify-content-end" *ngIf="!disableNav">
        <ion-button (click)="goHome()">
          <ion-icon slot="icon-only" color="dark" name="home-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>