<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="chronique" color="violet" subTitle="Prise en charge"
    defaultBackRoute="/medical-management-list" />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="md-content">
      <ion-col>
        <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Cirrhose</ion-title>
        <ul>
          <li>
            <div class="app-mb-sm">cirrhose décompensée :</div>
            <ul>
              <li class="app-mb-sm">Traitement par un analogue&nbsp;; entécavir:&nbsp;1mg/j ou ténofovir:&nbsp;245mg/j</li>
              <li class="app-mb-sm">Interféron pégylé contre indiqué</li>
              <li class="app-mb-sm">Surveillance régulière de la tolérance du traitement en raison d'un risque d'acidose lactique ou d'insuffisance rénale.</li>
              <li class="app-mb-sm">Discussion avec un centre de greffe hépatique concernant l'indication d'une transplantation hépatique.</li>
              <li>Dépistage tous les 6 mois du CHC par échographie hépatique et alpha-foetoprotéine</li>
            </ul>
          </li>
          <br />
          <li>
            <div class="app-mb-sm">cirrhose compensée :</div>
            <ul>
              <li class="app-mb-sm">ADN VHB détectable : Traitement par un analogue; entécavir:&nbsp;0.5mg/j ou ténofovir:&nbsp;245mg/j</li>
              <li class="app-mb-sm">ADN VHB indétectable : pas de traitement sous réserve de la possibilité de suivi</li>
              <li class="app-mb-sm">Dépistage tous les 6&nbsp;mois du CHC par échographie hépatique et alpha-foetoprotéine</li>
            </ul>
          </li>
        </ul>
        <span class="color-violet">
          /!\ Cas particulier du CHC : traitement par un analogue quel que soit le stade de l'infection virale B, de la fibrose et du CHC + dépistage de l'entourage (premier degré) avec traitement systématique en cas de portage chronique du VHB quel que soit le statut VHB.
          <br>
          <a class="link-button  color-violet" (click)="goToFamilyHistory()">(cf antécédent familial de cirrhose ou de CHC)</a>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
