<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-buttons class="back-button">
          <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-row class="ion-justify-content-center">
          <div class="header-title ion-align-items-start">
            <ion-title class="ion-no-padding ion-no-margin">Porteur</ion-title>
            <ion-title class="ion-no-padding ion-no-margin">inactif ou guéri</ion-title>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

</ion-content>
