<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="résolue" color="nepal"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>
        Si indication de chimiothérapie ou traitement immunosuppresseur, faire une sérologie VHB.<br>
        <ul>
          <li class="app-mb-sm">Si sérologie naïve, il est recommandé de proposer une vaccination contre le VHB. Un schéma accéléré peut être proposé
            dans les situations où l'obtention rapide d'une protection est souhaitable (<a class="link-button color-cyan" (click)="goToNaiveSerology()">cf sérologie naïve</a>).</li>
          <br>
          <li class="app-mb-sm">
            Si sérologie en faveur d'un antécédent d'infection contre le VHB, le traitement antiviral doit être discuté au cas par cas selon le risque
            de réactivation. Il est recommandé en cas de :
            <ul>
              <li class="app-mb-sm">Ag&nbsp;HBs&nbsp;+ ou Ac&nbsp;anti-HBc&nbsp;+ avec ADN détecté</li>
              <li class="app-mb-sm">Ac anti-HBc&nbsp;+ sans ADN détecté et risque de réactivation au moins modérée (>&nbsp;1%)</li>
              <li class="app-mb-sm">À débuter dans les 3&nbsp;semaines précédant l'immunosuppresseur et jusqu'à 12&nbsp;mois après la fin de l'immunosuppresseur ou 18&nbsp;mois si rituximab ou traitement hématologique ou transplantation de cellules souches.</li>
            </ul>
          </li>
          <br>
          <li class="app-mb-sm">Si pas de prophylaxie, surveillance ALAT et ADN VHB tous les 1 à 3 mois jusqu'à 12&nbsp;mois après la fin de l'immunosuppresseur.</li>
          <br><br>
          <li class="app-mb-sm">Exemples de traitements immunosuppresseurs : </li>
        </ul>

        <app-image src="/assets/img/list-immunosuppressant.png"></app-image>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
