<ion-header class="ion-no-border">
  <app-header darkTitle="Politique de" coloredTitle="confidentialité" color="indigo" [disableNav]="true"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>

        <p><strong>Dernière mise à jour :</strong> 19/09/2023</p>

        <i>Cette politique de confidentialité décrit comment Corentin Martinot-Lagarde (développeur) et Clara Altman (médecin, conceptrice) ("nous", "notre", "nos") recueillent et utilisent les informations des utilisateurs et utilisatrices de l'application mobile "vhb" ("l'app mobile") et/ou du site "vhb.netlify.app" ("la webapp"). Nous désignerons l'app mobile et la webapp sous le terme "les Applications".</i>

        <p>En utilisant les Applications, vous acceptez cette politique de confidentialité. Si vous n'acceptez pas cette politique, veuillez ne pas utiliser les Applications.</p>

        <h2>Aucune Collecte de Données au niveau des Applications : </h2>
        <p>L'app mobile et la webapp ne collecte aucune donnée personnelle de l'utilisateur ou utilisatrice, que ce soit automatiquement ou en réponse à des actions de l'utilisateur ou utilisatrice. Nous n'avons pas de base de données ou de backend pour stocker des données.</p>

        <h2>Données de Tiers :</h2>
        <p>Les Applications peuvent utiliser des services tiers, tels que des outils de developpement et d'hébergement, qui peuvent collecter des informations anonymes sur l'utilisation des Applications à des fins d'amélioration de la qualité et de statistiques. Ces services tiers peuvent avoir leurs propres politiques de confidentialité et leurs propres méthodes de collecte de données.
          À ce titre veuillez vous référer aux politiques de confidentialité des services ci-après.</p>
        <ul>
          <li>Ionic Framework - <a href="https://ionic.io/privacy">https://ionic.io/privacy</a></li>
          <li>Netlify - <a href="https://www.netlify.com/privacy/">https://www.netlify.com/privacy/</a></li>
        </ul>

        <h2>Cookies :</h2>
        <p>Les Applications n'utilisent pas de cookies ou de technologies similaires pour collecter des informations.</p>

        <h2>Liens Vers des Sites Web Tiers :</h2>
        <p>Les Applications peuvent contenir des liens vers des sites web tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites web tiers. Nous encourageons les utilisateurs et utilisatrices à lire les politiques de confidentialité de ces sites web.</p>
        
        <h2>Sécurité :</h2>
        <p>Nous prenons des mesures raisonnables pour protéger les informations des utilisateurs et utilisatrices, même si aucune information personnelle n'est collectée. L'accès à nos systèmes est limité aux personnes autorisées et les mesures de sécurité appropriées sont en place pour protéger contre la collecte disimulée et à fortiori ; la perte, la divulgation ou la modification non autorisée des données.</p>
        
        <h2>Conditions générales d'utilisation : </h2>
        <p>Veuillez vous référer à nos Conditions générales d'utilisation : <a class="external-link" href="https://vhb.netlify.app/gtu" target="_blank">https://vhb.netlify.app/gtu</a></p>

        <h2>Changements de la Politique de Confidentialité :</h2>
        <p>Cette politique de confidentialité peut être mise à jour périodiquement pour refléter les changements dans nos pratiques en matière de protection des données. La date de la dernière mise à jour sera indiquée en haut de cette politique.</p>

        <h2>Contact :</h2>
        <p>Pour toute question ou préoccupation concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact.vhb.sante@gmail.com">contact.vhb.sante@gmail.com</a></p>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
