<ion-header class="ion-no-border">
  <app-header darkTitle="Conditions générales" coloredTitle="d'utilisation" color="cyan" [disableNav]="true"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>
        <p><strong>Dernière mise à jour : 19/11/2023</strong></p>

        <h2>1. Acceptation des Conditions Générales d'Utilisation</h2>
        <p>En téléchargeant, installant ou utilisant l'application mobile "vbh" et/ou le site "vhb.netlify.app" (tout deux ci-après dénommés sous le terme commun "les Applications"), vous acceptez les présentes Conditions Générales d'Utilisation (ci-après dénommées "CGU"). Si vous n'acceptez pas les CGU, veuillez ne pas utiliser les Applications.</p>

        <h2>2. Objet des Applications</h2>
        <p>Les Applications ont pour objectif de fournir des informations et des rappels sur le suivi de l'hépatite B aux professionnels de la santé, notamment aux médecins. Les Applications ne constituent en aucun cas un substitut à un avis médical professionnel. Elles fournissent des informations générales et des rappels basés sur les recommandations médicales actuelles, mais ne peut pas remplacer l'évaluation individuelle d'un médecin.</p>

        <h2>3. Utilisation des Applications</h2>
        <h3>3.1. Utilisation Réservée aux Professionnels de la Santé</h3>
        <p>L'utilisation des Applications est réservée aux professionnels de la santé, en particulier aux médecins, et à des fins éducatives et informatives. Les informations fournies par les Applications sont destinées à améliorer la compréhension des recommandations de suivi de l'hépatite B. Si vous n'êtes pas professionnel de santé veuillez ne pas utiliser les Applications.</p>

        <h3>3.2. Utilisation Responsable</h3>
        <p>Vous vous engagez à utiliser les Applications de manière responsable et conforme à toutes les lois et réglementations applicables.</p>

        <h2>4. Mises à Jour et Modifications</h2>
        <p>Nous nous réservons le droit de mettre à jour, de modifier ou de retirer les Applications ou une partie de ses fonctionnalités à tout moment sans préavis.</p>

        <h2>5. Limitation de Responsabilité</h2>
        <h3>5.1. Garantie</h3>
        <p>Les Applications sont fournies "telle quelle" et "selon la disponibilité" sans aucune garantie explicite ou implicite. Nous ne garantissons pas l'exactitude, l'exhaustivité, la fiabilité ou l'adéquation des informations fournies par les Applications à un usage spécifique.</p>

        <h3>5.2. Responsabilité</h3>
        <p>En aucun cas, Corentin Martinot-Lagarde (développeur) et Clara Altman (médecin, conceptrice) ne pourront être tenus responsables des dommages directs, indirects, consécutifs, spéciaux, accidentels ou exemplaires résultant de l'utilisation des Applications ou de l'incapacité à les utiliser.</p>

        <h2>6. Confidentialité</h2>
        <p>Veuillez vous référer à notre Politique de Confidentialité pour comprendre comment nous collectons, utilisons et partageons vos données personnelles : <a class="external-link" href="https://vhb.netlify.app/privacy-policy" target="_blank">https://vhb.netlify.app/privacy-policy</a></p>

        <h2>7. Contact</h2>
        <p>Pour toute question, commentaire ou préoccupation concernant ces CGU ou les Applications, veuillez nous contacter à l'adresse : <a href="mailto:contact.vhb.sante@gmail.com">contact.vhb.sante@gmail.com</a></p>

        <h2>8. Modifications des CGU</h2>
        <p>Nous nous réservons le droit de modifier ces CGU à tout moment sans préavis. Nous vous encourageons à consulter régulièrement les CGU pour prendre connaissance des mises à jour.</p>

        <p>En utilisant les Applications, vous acceptez ces CGU.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
