ion-item::part(native) {
    // remove native css
    --inner-padding-end: 0px;
    --min-height: 0px;
    overflow: visible;
    width: auto;
  
  
    display: inline-flex;
    padding: 3px 5px 3px 5px;
    margin-bottom: 10px;
    width: 170px;
  
    background: var(--ion-color-light);
    color: var(--ion-color-dark);
  
    border-color: var(--ion-color-violet);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20px;
  }
  
  .item-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  