<ion-header class="ion-no-border">
  <app-header darkTitle="&nbsp;" coloredTitle="À propos" color="violet"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="content">
      <ion-col>
      <i>À Propos de l'application mobile "vhb" et/ou du site "vhb.netlify.app" (tout deux ci-après dénommés sous le terme commun "les Applications")</i>
      
      <h2>Notre Mission</h2>
      <p>Notre mission est de fournir aux médecins un outil simple pour faciliter la prise en charge des patients atteints d'hépatite B. Nous croyons en l'importance de mettre à leur disposition un outil gratuit, qui apporte des informations ciblées pour un meilleur suivi de cette maladie. </p>
      
      <h2>L'équipe</h2>
      <p>Les Applications sont développées par Corentin Martinot-Lagarde (développeur) et Clara Altman (médecin, conceptrice).</p>

      <h2>Participations</h2>
      <p>Le design des Applications a été créé par Claire Wild, Jeanne Priss et Sarah Linet, étudiantes de LISAA Strasbourg en octobre 2022. Leur travail a été effectué lors du DigHacktion 2022.</p>

      <h2>Contactez-Nous</h2>
      <p>Si vous avez des questions, des commentaires ou des suggestions concernant les Applications n'hésitez pas à nous contacter : <a href="mailto:contact.vhb.sante@gmail.com">contact.vhb.sante@gmail.com</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
