
@media (min-width: 576px) {
    ion-header {
        padding: 2vh 0 2vh 0;
    }

    .image-algo {
        width: 60vw;
        margin-left: 20vw;
    }
}

.header-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;

}

.header-title {
    padding-right: 30px;
    border-bottom: 2px solid;
    border-color: black;
}
