<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-buttons class="back-button">
          <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-row class="ion-justify-content-center">
          <div class="header-title ion-align-items-start">
            <ion-title class="ion-no-padding ion-no-margin">Interprétation</ion-title>
            <ion-title class="ion-no-padding ion-no-margin">sérologique</ion-title>
          </div>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-header>

<ion-content>

  <ion-list >
    <ion-item (click)="agHbs=!agHbs">
      <ion-label>Ag HbS</ion-label>
      <ion-toggle slot="end" [checked]="agHbs"></ion-toggle>
    </ion-item>
    <ion-item (click)="acAntiHbs=!acAntiHbs">
      <ion-label>Ac anti-HbS</ion-label>
      <ion-toggle slot="end" [checked]="acAntiHbs"></ion-toggle>
    </ion-item>
    <ion-item (click)="acAntiHbc=!acAntiHbc">
      <ion-label>Ac anti-HbC</ion-label>
      <ion-toggle slot="end" [checked]="acAntiHbc"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-buttons>
    <ion-button (click)="resetToggles()" color="danger">RESET</ion-button>
  </ion-buttons>

</ion-content>
