ion-header {
    height: 10vh;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;

}

.header-title {
    padding-right: 30px;
    border-bottom: 2px solid;
    border-color: black;
}

