@media (max-width: 576px) {
    .image-algo {
        margin: 2.5vw;
    }
}

@media (min-width: 576px) {
    ion-header {
        padding: 2vh 0 2vh 0;
    }

    .image-algo {
        margin: 2vh 20vw 2vh 20vw;
    }
}


.header-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;

}

.header-title {
    padding-right: 30px;
    border-bottom: 2px solid;
    border-color: black;
}
