<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="chronique" color="violet" subTitle="Prise en charge"
    defaultBackRoute="/medical-management-list" />
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="md-content">
      <ion-col>
      
        <div *ngIf="situation === PREGNANT">
          <ion-title class="ion-margin-top ion-no-padding">Femme enceinte</ion-title>
          <ul>
            <li class="app-mb-sm">But&nbsp;: prévention de la transmission mère-enfant</li>
            <li class="app-mb-sm">Recherche d'antigène HBs recommandée dès le premier trimestre de grossesse et obligatoire en France au 6ème mois.</li>
            <li class="app-mb-sm">Proposer la vaccination à la femme enceinte et son compagnon si leur sérologie de dépistage est négative</li>
            <li class="app-mb-sm">Si sérologie&nbsp;B positive chez la mère&nbsp;; réaliser l'ensemble du bilan de première intention</li>
            <li class="app-mb-sm">
              Si patiente déjà traitée par Tenofovir&nbsp;; poursuivre le traitement. Si autre analogue, switch pour Tenofovir.<br />
              <b>/!\ interféron pégylé contre indiqué pendant la grossesse +++</b>
            </li>
            <li class="app-mb-sm">
              Si le taux d'ADN VHB&nbsp;>&nbsp;200.000&nbsp;IU/mL&nbsp;; commencer un traitement par Ténofovir entre la 24 et 28ème semaine de grossesse et continuer jusqu'à 12&nbsp;semaines après l'accouchement.
            </li>
            <li class="app-mb-sm">
              Sérovaccination à la naissance de l'enfant&nbsp;: 3&nbsp;doses de vaccin. 1&nbsp;dose à la naissance (dans les 12h) associée à l'administration d'immunoglobulines spécifiques, puis à 1&nbsp;mois et 6&nbsp;mois. (ainsi qu'à 2&nbsp;mois en cas de prématurité &lt;32&nbsp;SA ou d'un poids inférieur à 2kg)
            </li>
            <li>Pas de contre-indication à l'allaitement et AVB avec ou sans traitement</li>
          </ul>
        </div>

        <div *ngIf="situation === CO_VIH">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Co - Infection VIH</ion-title>
          Profil évolutif plus sévère de l'hépatite&nbsp;B en cas de co-infection VHB/VIH avec augmentation du risque de progression de la fibrose hépatique, de cirrhose et de survenue du carcinome hépatocellulaire. 
          <br /><br />
          Indication à un traitement antirétroviral chez tous les patients VIH&nbsp;+ quel que soit le taux de CD4+. 
          <br /><br />
          Préférer le ténofovir car action antirétrovirale contre le VIH commune avec son action antivirale contre le VHB même si pas de contre-indication à l'utilisation de l'entécavir chez le patient VIH+.
          <br /><br />
          Le score PAGE-B semble validé pour le dépistage du carcinome hépatocellulaire.
          <br/><br/>
          <ion-buttons>
            <ion-button id="open-modal-page-b" class="button-page-b">Calculer le score PAGE-B</ion-button>
          </ion-buttons>
          <app-modal-page-b
            messageGt10="Indication à réaliser une échographie abdominale et dosage de l'Alpha-foetoprotéine tous les 6 mois."
            messageLt10="Pas d'indication particulière."
          ></app-modal-page-b>

        </div>

        <div *ngIf="situation === CO_VHC">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Co - Infection VHC</ion-title>
          <ul>
            <li>
              Indication de traitement antiviral du VHB&nbsp;: identique à celle des patients mono-infectés par le VHB.
            </li>
            <br />
            <li>
              Si patient déja traité par analogues&nbsp;; pas d'interaction avec les agents antiviraux d'action directs (AAD).
              Risque pour la fonction rénale si ténofovir et sofosbuvir, à surveiller avec créatininémie en cours de traitement par AAD.
            </li>
            <br />
            <li>
              Risque de réactivation virale B pendant le traitement de l'hépatite&nbsp;C.
              <ul>
                <li class="app-mb-sm">
                  Traitement par analogue chez les patients AgHBs+ traités par AAD ainsi que 12&nbsp;semaines après l'arrêt de ce dernier. 
                </li>
                <li>
                  En cas d'Ac&nbsp;HbC&nbsp;+ isolé, la surveillance rapprochée des transaminases tous les mois est conseillée avec un dosage de l'ADN du VHB
                  en cas d'augmentation de l'ALAT pendant le traitement par AAD. Si suspicion de réactivation virale&nbsp;B sous traitement VHC:
                  introduction d'un traitement antiviral&nbsp;B par analogue. 
                </li>
              </ul>
            </li>
            <br />
            <li>Le statut VHB ne doit pas faire retarder le traitement d'une hépatite&nbsp;C associée vu le taux de guérison très élevé du C avec traitement court. </li>
            <br />
            <li>
              Dépistage semestriel du CHC par dosage de l'Alpha-foetoprotéine + échographie hépatique&nbsp;:
              <ul>
                <li class="app-mb-sm">
                  si Fibroscan&nbsp;>&nbsp;10 avant traitement de l'hépatite&nbsp;C par AAD 
                </li>
                <li>si score PAGE B > = 10</li>
              </ul>
              <ion-buttons class="app-mt-sm">
                <ion-button id="open-modal-page-b" class="button-page-b">Calculer le score PAGE-B</ion-button>
              </ion-buttons>
              <app-modal-page-b
                messageGt10="Indication à réaliser une échographie abdominale et dosage de l'Alpha-foetoprotéine tous les 6 mois."
                messageLt10="Pas d'indication particulière."
              ></app-modal-page-b>
            </li>
          </ul>
        </div>

        <div *ngIf="situation === CO_VHD">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Co - Infection VHD</ion-title>
          <ul>
            <li>
              Situation complexe : patient à adresser en consultation d'hépatologie spécialisée, traitement à valider en RCP
              (fiche disponible sur <a href="https://afef.asso.fr/article_actu/fiche-rcp-hepatite-delta/" target="_blank">le site de l'AFEF</a>).
            </li>
            <br />
            <li>
              Profil évolutif de la co-infection virale B/Delta&nbsp;: progression plus rapide vers la cirrhose et augmentation du risque de CHC. 
            </li>
            <br />
            <li>
              Traitements possibles de la co-infection VHB/Delta&nbsp;:
              <ul>
                <li class="app-mb-sm">
                  interféron pégylé alpha&nbsp;2a si pas de contre-indication associé au bulévirtide acétate (si indication)
                </li>
                <li class="app-mb-sm">bulévirtide acétate seul.</li>
                <li>traitement par analogues pour le VHB nécessaire si réplication virale du B. </li>
              </ul>
            </li>
            <br />
            <li>
              évaluation pré-thérapeutique de la fibrose hépatique est nécessaire par ponction-biopsie hépatique car méthodes non invasives non validées. Dépistage du CHC si patients F3 ou F4.
            </li>
          </ul>
        </div>

        <div *ngIf="situation === CARE_STAFF">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Professionel de santé</ion-title>
          <ul>
            <li>
              Professionnels de santé porteurs d'un VHB chronique avec VHB positif&nbsp;: 
              traitement antiviral à proposer si situation à risque de transmission. 
            </li>
            <br>
            <li>
              situations à risque de transmission = contact potentiel entre la peau du professionnel de santé et des instruments tranchants, 
              des aiguilles ou des structures anatomiques pointues dans le corps humain (os, dents).
            </li>
          </ul>
          <ion-buttons class="button-treatment-container">
            <ion-button id="open-modal-treatment" color="violet" shape="round" fill="solid" class="button-treatment">Voir infos traitement</ion-button>
          </ion-buttons>
          <app-modal-treatment title="Traitements professionnel de santé"></app-modal-treatment>
        </div>

        <div *ngIf="situation === FAMILY_HISTORY_OF_CIRRHOSIS">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Antécédent familial de cirrhose ou de CHC</ion-title>
          <ul>
            <li>
              Indication à un traitement par analogues quel que soit l'âge, le sexe du patient ou le statut de fibrose.
            </li>
            <br>
            <li>
              Dépistage du CHC&nbsp;:
              <ul>
                <li class="app-mb-sm app-mt-sm">Systématique si antécédent familial au premier degré de CHC</li>
                <li>
                  Selon score PAGE-B si antécédent familial de cirrhose
                  <ion-buttons class="app-mt-sm">
                    <ion-button id="open-modal-page-b" class="button-page-b">Calculer le score PAGE-B</ion-button>
                  </ion-buttons>
                </li>
              </ul>
            </li>
          </ul>
          <ion-buttons class="button-treatment-container">
            <ion-button id="open-modal-treatment" color="violet" shape="round" fill="solid" class="button-treatment">Voir infos traitement</ion-button>
          </ion-buttons>
          <app-modal-treatment title="Traitements antécédent familial au premier degré de CHC" [noInterferon]="true"></app-modal-treatment>

          <app-modal-page-b
            messageGt10="Réaliser un dépistage CHC"
            messageLt10="Pas besoin dépistage CHC"
          ></app-modal-page-b>
        </div>

        <div *ngIf="situation === EXTRAHEPATIC_HBV">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Manifestation extra-hépatique du VHB</ion-title>
          <ul>
            <li>
              Manifestations variées&nbsp;: vascularites, purpuras, périartérites noueuses, arthralgies, neuropathies périphériques, glomérulopathies, cryoglobulinémies mixtes…
            </li>
            <br>
            <li>
              Indication à part entière au traitement par analogues si ADN VHB détectable, quelle que soit l'atteinte hépatique.
            </li>
            <br>
            <li>
              Traitement par interféron contre-indiqué si manifestations immuno-médiées&nbsp;; risque d'aggravation.
            </li>
          </ul>

          <ion-buttons class="button-treatment-container">
            <ion-button id="open-modal-treatment" color="violet" shape="round" fill="solid" class="button-treatment">Voir infos traitement</ion-button>
          </ion-buttons>
          <app-modal-treatment title="Traitements VHB extra-hépatique" [noInterferon]="true"></app-modal-treatment>
        </div>

        <div *ngIf="situation === CIRRHOSE">
          <ion-title class="ion-margin-top ion-no-padding ion-margin-bottom">Cirrhose</ion-title>
          <ul>
            <li>
              <div class="app-mb-sm">cirrhose décompensée :</div>
              <ul>
                <li class="app-mb-sm">Traitement par analogues&nbsp;; entécavir:&nbsp;1mg/j, ténofovir:&nbsp;245mg/j</li>
                <li class="app-mb-sm">Interféron pégylé contre indiqué</li>
                <li class="app-mb-sm">Surveillance régulière de la tolérance du traitement en raison d'un risque d'acidose lactique ou d'insuffisance rénale.</li>
                <li class="app-mb-sm">Discussion avec un centre de greffe hépatique concernant l'indication d'une transplantation hépatique.</li>
                <li>Dépistage tous les 6 mois du CHC par échographie hépatique et alpha-foetoprotéine</li>
              </ul>
            </li>
            <br />
            <li>
              <div class="app-mb-sm">cirrhose compensée :</div>
              <ul>
                <li class="app-mb-sm">ADN VHB détectable : Traitement par analogues; entécavir:&nbsp;0.5mg/j, ténofovir:&nbsp;245mg/j</li>
                <li class="app-mb-sm">ADN VHB indétectable : pas de traitement sous réserve de la possibilité de suivi</li>
                <li class="app-mb-sm">Dépistage tous les 6&nbsp;mois du CHC par échographie hépatique et alpha-foetoprotéine</li>
              </ul>
            </li>
          </ul>
          <span class="color-violet">/!\ Cas particulier du CHC : traitement par analogues quelque que soit le stade de l'infection virale B et de la cirrhose</span>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
