@media (min-width: 576px) {
    .md-content {
        margin-left: 20px;
    }  
}

a {
    color: var(--ion-color-violet);
}


.button-page-b {
    color: var(--ion-color-dark);
    text-transform: none;
    
    border-color: var(--ion-color-violet);
    border-style: solid;
    border-width: 2px;
    border-radius: 24px;
}

.color-violet {
    color: var(--ion-color-violet);
}