<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-buttons class="back-button">
          <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-row class="ion-justify-content-center">
          <div class="header-title ion-align-items-start">
            <ion-title class="ion-no-padding ion-no-margin">Hépatite B</ion-title>
            <ion-title class="ion-no-padding ion-no-margin">chronique</ion-title>
            <ion-text>Prise en charge</ion-text>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-md="5" offset-md="3.5">
          <ion-row class="ion-justify-content-center">
            <ion-list class="situation-list">
              <ion-item button *ngFor="let situation of situationList" (click)="situation.onClick()" detail="true" 
                lines="none" shape="round" fill="outline" color="violet" class="ion-margin-bottom">
                <ion-text>{{ situation.name }}</ion-text>
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
