<ion-header class="ion-no-border">
  <app-header darkTitle="Hépatite B" coloredTitle="chronique" color="violet" subTitle="Prise en charge"></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-md="5" offset-md="3.5">
          <ion-row class="ion-justify-content-center">
            <ion-list class="situation-list">
              <ion-item button *ngFor="let situation of situationList" (click)="situation.onClick()" detail="true" 
                lines="none" class="ion-margin-bottom button">
                <ion-text>{{ situation.name }}</ion-text>
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
