
<ion-content [fullscreen]="true">
  <ion-buttons>
     <ion-button routerLink="/serological-interpretation">Interprétation sérologique</ion-button>
     <ion-button routerLink="/acute-hepatitis-b">Hépatite B aigüe</ion-button>
     <ion-button>Hépatite B chronique</ion-button>
     <ion-button routerLink="/intention-review">Bilan d'intention</ion-button>
     <ion-button routerLink="/medical-management">Prise en charge</ion-button>
     <ion-button routerLink="/inactive-or-recovered-carrier">Porteur inactif ou guéri</ion-button>
  </ion-buttons>
</ion-content>
