ion-item {
    width: 210px;
    border-bottom: 1.5px solid;
    border-color: var(--ion-color-dark);
}

.title-text {
    font-family: 'Inter-SemiBold';
    font-size: large;
}

.title-container {
    padding-bottom: 7px;
}