<ion-item button lines="none" class="ion-no-padding" [routerLink]="navigationRoute" (click)="onClick()">
  <div class="item-container">
    <div class="title-container">
      <ion-label class="ion-no-padding ion-no-margin title-text" color="dark">{{ darkTitle | uppercase }} test</ion-label>
      <ion-label class="ion-no-padding ion-no-margin title-text" [color]="color">{{ coloredTitle | uppercase }}</ion-label>
    </div>
    <ion-icon [src]="chevronDirection" size="small" color="grey-300"></ion-icon>
  </div>
</ion-item>