<ion-header class="ion-no-border ion-margin-bottom">
  <app-header darkTitle="Hépatite B" coloredTitle="chronique" color="violet" subTitle="Bilan d'intention"></app-header>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" size-md="7" offset-md="2.5">
        <ion-card class="ion-no-padding ion-no-margin ion-margin-top alert">
          <ion-icon name="warning-outline" size="large"></ion-icon>
          <ion-text class="ion-margin-start alert-text">Dépistage de l'entourage et vaccination si sérologie négative</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" size-md="7" offset-md="2.5">
        <ion-row class="ion-justify-content-center">
          <ion-accordion-group [multiple]="true" class="accordion-group-container">
            <ion-accordion value="first" class="accordion-container" fill="outline">
              <ion-item slot="header" color="violet" class="accordion-header">
                <ion-label class="ion-text-wrap">Interrogatoire et examen clinique</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" class="accordion-content">
                <ul>
                  <li>antécédents personnels surtout :</li>
                  <li>immunodéprimé ?</li>
                  <li>origine géographique</li>
                  <li>connaissance statut vacciné </li>
                  <li>consommation d'alcool chronique</li>
                  <li>facteurs de risque des autres hépatites (VHC : drogues IV, transfusions)</li>
                  <li>comorbidités hépatiques (OH, diabète, surpoids)</li>
                  <li>antécédents familiaux :</li>
                  <li>carcinome hépatocellulaire +++,</li>
                  <li>hépatopathie chronique, maladies hépatiques</li>
                  <li>recherche de signes cliniques d'hépatopathie chronique</li>
                </ul>
              </div>
            </ion-accordion>
            <ion-accordion value="second" class="accordion-container">
              <ion-item slot="header" color="violet" class="accordion-header">
                <ion-label>Biologie</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" class="accordion-content">
                <ul>
                  <li>NFS,plaquettes</li>
                  <li>ionogramme, créatininémie</li>
                  <li>TP,INR</li>
                  <li>bilan hépatique complet : ASAT/ALAT, PAL/GGT, bilirubine totale et conjuguée</li>
                  <li>albuminémie</li>
                  <li>protéinurie sur échantillon</li>
                  <li>AFP</li>
                  <li>sérologies VIH,VHC, VHD, VHA</li>
                  <li>dosage quantitatif Ag HbS, charge virale VHB quantitative, Ag HBE et anticorps anti HBE</li>
                </ul>
              </div>
            </ion-accordion>
            <ion-accordion value="third" class="accordion-container">
              <ion-item slot="header" color="violet" class="accordion-header">
                <ion-label>Examens para-clinique</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" class="accordion-content">
                <ul>
                  <li>échographie hépatique</li>
                  <li>
                    fibroscan (ou fibrotest ou fibromètre)
                    <ul>
                      <li>/!\ à ne pas utiliser si ASAT et/ou ALAT > 5N (biopsie du foie optionnelle)</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
